<table cellpadding="0" cellspacing="0">

  <tr height="1">
    <td style="width:60px;"></td>
    <td colspan="1">
      <div class="tg-spanningwrapper">
        <div class="tg-hourmarkers">
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
          <div class="tg-markercell"><div class="tg-dualmarker"></div></div>
        </div>
      </div>
      <div class="tg-spanningwrapper tg-chipspanningwrapper" id="tgspanningwrapper"></div>
    </td>
  </tr>

  <tr>
    <td class="col-time-pri">
      <div style="height:42px;"><div class="tg-time-pri">12am</div></div>
      <div style="height:42px;"><div class="tg-time-pri">1am</div></div>
      <div style="height:42px;"><div class="tg-time-pri">2am</div></div>
      <div style="height:42px;"><div class="tg-time-pri">3am</div></div>
      <div style="height:42px;"><div class="tg-time-pri">4am</div></div>
      <div style="height:42px;"><div class="tg-time-pri">5am</div></div>
      <div style="height:42px;"><div class="tg-time-pri">6am</div></div>
      <div style="height:42px;"><div class="tg-time-pri">7am</div></div>
      <div style="height:42px;"><div class="tg-time-pri">8am</div></div>
      <div style="height:42px;"><div class="tg-time-pri">9am</div></div>
      <div style="height:42px;"><div class="tg-time-pri">10am</div></div>
      <div style="height:42px;"><div class="tg-time-pri">11am</div></div>
      <div style="height:42px;"><div class="tg-time-pri">12pm</div></div>
      <div style="height:42px;"><div class="tg-time-pri">1pm</div></div>
      <div style="height:42px;"><div class="tg-time-pri">2pm</div></div>
      <div style="height:42px;"><div class="tg-time-pri">3pm</div></div>
      <div style="height:42px;"><div class="tg-time-pri">4pm</div></div>
      <div style="height:42px;"><div class="tg-time-pri">5pm</div></div>
      <div style="height:42px;"><div class="tg-time-pri">6pm</div></div>
      <div style="height:42px;"><div class="tg-time-pri">7pm</div></div>
      <div style="height:42px;"><div class="tg-time-pri">8pm</div></div>
      <div style="height:42px;"><div class="tg-time-pri">9pm</div></div>
      <div style="height:42px;"><div class="tg-time-pri">10pm</div></div>
      <div style="height:42px;"><div class="tg-time-pri tg-time-pri-last">11pm</div></div>
      <div id="tgnowptr" class="tg-nowptr" style="left: 0px; top: 57px;"></div>
    </td>
    <td class="tg-col events-container">
      <div class="temp-event">
        <span class="time"></span>
      </div>
      <div class="edit-event clearfix">
        <div class="event-time">Time</div>
        <input type="text" class="event-name form-control" placeholder="Event" />
        <textarea class="event-des form-control" rows="3" placeholder="Description"></textarea>
        <div class="edit-btns">
          <button class="btn save-btn">Save</button>
          <button class="btn delete-btn">Delete</button>
        </div>

      </div>
    </td>
  </tr>

</table>
